<h1>View Paste</h1>
<div *ngIf="loading">
  <h4>Loading...</h4>
</div>
<div *ngIf="notFound">
  <h4>Paste Not Found</h4>
  <p>No paste was found in the public repository using the paste id from the url.</p>
</div>
<div *ngIf="!loading&&!notFound">
  <p>View a cryptographically secure paste using the private key.</p>
  <h3>Name</h3>
  <p>The name is public. This can be viewed by anybody and is not encrypted.</p>
  <p *ngIf="paste">{{paste.name}}</p>
  <h3>Link</h3>
  <p>This paste data is public. To share this paste, share this link.</p>
  <pre *ngIf="URL">{{URL}}</pre>
  <h3>Key</h3>
  <p>The key is private. We don't store the key. If it's lost, the plain text data is lost.</p>
  <input type="text"
         name="name"
         class="form-control"
         [(ngModel)]="key"
         (ngModelChange)="updateDecryptedPaste()"
         required>
  <h3>Text</h3>
  <p>The text is encrypted. It can only be decrypted using the correct private key.</p>
  <pre *ngIf="unencryptedPaste">{{unencryptedPaste.plainText}}</pre>
  <div *ngIf="!unencryptedPaste">
    <pre *ngIf="!incorrectKeyTried">Enter a key to decrypt this paste.</pre>
    <pre *ngIf="incorrectKeyTried">Sorry, that key is not valid for this paste.</pre>
  </div>
</div>
